<crowd-form>
  <crowd-bounding-box
    name="annotatedResult"
    src= "../static/images/boundingBox/4aab5e31d6072f6a.jpg"
    header="Draw bounding boxes around all human faces in this image"
    labels="['Human face']"
  >
    <full-instructions header="Instructions" >
      <p>Use the bounding box tool to draw boxes around human faces in this image:</p>
      <ol>
        <li>Draw a rectangle using your mouse over each instance of the target.</li>
        <li>Make sure the box does not cut into the target, leave a 2 - 3 pixel margin.</li>
        <li>
          When targets are overlapping, draw a box around each object,
          include all contiguous parts of the target in the box.
          Do not include parts that are completely overlapped by another object.
        </li>
        <li>
          Do not include parts of the target that cannot be seen,
          even though you think you can interpolate the whole shape of the target.
        </li>
        <li>Avoid shadows, they're not considered as a part of the target.</li>
        <li>If the target goes off the screen, label up to the edge of the image.</li>
      </ol>
    </full-instructions>

    <short-instructions>
      Draw boxes around all human faces in this image.
    </short-instructions>

    <input type="button" id="aws-submit" style="visibility:hidden;"/>
  </crowd-bounding-box>
</crowd-form>

