<crowd-entity-annotation
  name="crowd-entity-annotation"
  header="Highlight parts of the text below"
  labels="[{'label': 'person', 'shortDisplayName': 'per', 'fullDisplayName': 'Person'}, {'label': 'location', 'shortDisplayName': 'loc', 'fullDisplayName': 'Location'}, {'label': 'organisation', 'shortDisplayName': 'org', 'fullDisplayName': 'Organisation'}]"
  text="The injury-plagued Indianapolis Colts lost another quarterback on Thursday but last year's AFC finalists rallied together to shoot down the Philadelphia Eagles 37-10 in a showdown of playoff contenders.

Marshall Faulk rushed for 101 yards and two touchdowns and Jason Belser returned an interception 44 yards for a score as the Colts improved to 8-6, the same mark as the Eagles, who lost for the fourth time in five games.

Paul Justin, starting for the sidelined Jim Harbaugh, was 14-of-23 for 144 yards and a touchdown for the the Colts, who played their last home game of the season.

Indianapolis closes with games at Kansas City and Cincinnati. The Eagles were held without a touchdown until the final five seconds. Philadelphia, which fell from an NFC East tie with the Dallas Cowboys and Washington Redskins, go on the road against the New York Jets and then entertain Arizona. ">
  <full-instructions header="Named entity recognition instructions">
    <ol>
      <li><strong>Read</strong> the text carefully.</li>
      <li><strong>Highlight</strong> words or phrases of the text.</li>
      <li><strong>Choose</strong> the label that best matches what you have highlighted.</li>
      <li>To <strong>change</strong> a label, choose highlighted text and select a new label.</li>
      <li>To <strong>remove</strong> a label from highlighted text, choose the X next to the abbreviated label name on the highlighted text.</li>
      <li>You can select all of a previously highlighted text, but not a portion of it.</li>
    </ol>
  </full-instructions>

  <short-instructions>
    Apply labels to words or phrases.
  </short-instructions>

    <div id="additionalQuestions" style="margin-top: 20px">
    </div>
  <input type="button" id="aws-submit" style="visibility:hidden;"/>
</crowd-entity-annotation>
