<crowd-entity-annotation
  name="crowd-entity-annotation"
  header="Highlight parts of the text below"
  labels="[{'label': 'person', 'shortDisplayName': 'per', 'fullDisplayName': 'Person'}, {'label': 'location', 'shortDisplayName': 'loc', 'fullDisplayName': 'Location'}, {'label': 'organisation', 'shortDisplayName': 'org', 'fullDisplayName': 'Organisation'}]"
  text="China on Thursday accused Taipei of spoiling the atmosphere for a resumption of talks across the Taiwan Strait with a visit to Ukraine by Taiwanese Vice President Lien Chan this week that infuriated Beijing.

Speaking only hours after Chinese state media said the time was right to engage in political talks with Taiwan, Foreign Ministry spokesman Shen Guofang told Reuters : 'The necessary atmosphere for the opening of the talks has been disrupted by the Taiwan authorities.'

State media quoted China's top negotiator with Taipei, Tang Shubei, as telling a visiting group from Taiwan on Wednesday that it was time for the rivals to hold political talks. 'Now is the time for the two sides to engage in political talks... that is to end the state of hostility,' Thursday's overseas edition of the People's Daily quoted Tang as saying.">
  <full-instructions header="Named entity recognition instructions">
    <ol>
      <li><strong>Read</strong> the text carefully.</li>
      <li><strong>Highlight</strong> words or phrases of the text.</li>
      <li><strong>Choose</strong> the label that best matches what you have highlighted.</li>
      <li>To <strong>change</strong> a label, choose highlighted text and select a new label.</li>
      <li>To <strong>remove</strong> a label from highlighted text, choose the X next to the abbreviated label name on the highlighted text.</li>
      <li>You can select all of a previously highlighted text, but not a portion of it.</li>
    </ol>
  </full-instructions>

  <short-instructions>
    Apply labels to words or phrases.
  </short-instructions>

    <div id="additionalQuestions" style="margin-top: 20px">
    </div>
  <input type="button" id="aws-submit" style="visibility:hidden;"/>
</crowd-entity-annotation>
