<crowd-entity-annotation
  name="crowd-entity-annotation"
  header="Highlight parts of the text below"
  labels="[{'label': 'person', 'shortDisplayName': 'per', 'fullDisplayName': 'Person'}, {'label': 'location', 'shortDisplayName': 'loc', 'fullDisplayName': 'Location'}, {'label': 'organisation', 'shortDisplayName': 'org', 'fullDisplayName': 'Organisation'}]"
  text="Leeds' England under-21 striker Lee Bowyer was fined 4,500 pounds ($ 7,400) on Friday for hurling chairs at restaurant staff during a disturbance at a McDonald's fast-food restaurant.

Bowyer, 19, who was caught in the act by security cameras, pleaded guilty to a charge of affray at a court in London. He was fined and ordered to pay a total of 175 pounds to two members of staff injured in the fracas in an east London restaurant in October.

Leeds had already fined Bowyer 4,000 pounds ($ 6,600) and warned him a repeat of his criminal behaviour could cost him his place in the side.

Bowyer, who moved to the Yorkshire club in August for 3.5 million pounds ($ 5.8 million), was expected to play against Middlesbrough on Saturday. ">
  <full-instructions header="Named entity recognition instructions">
    <ol>
      <li><strong>Read</strong> the text carefully.</li>
      <li><strong>Highlight</strong> words or phrases of the text.</li>
      <li><strong>Choose</strong> the label that best matches what you have highlighted.</li>
      <li>To <strong>change</strong> a label, choose highlighted text and select a new label.</li>
      <li>To <strong>remove</strong> a label from highlighted text, choose the X next to the abbreviated label name on the highlighted text.</li>
      <li>You can select all of a previously highlighted text, but not a portion of it.</li>
    </ol>
  </full-instructions>

  <short-instructions>
    Apply labels to words or phrases.
  </short-instructions>

    <div id="additionalQuestions" style="margin-top: 20px">
    </div>
  <input type="button" id="aws-submit" style="visibility:hidden;"/>
</crowd-entity-annotation>
